/*----------------user-scroll----------*/

.user-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.user-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}

.user-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}

.user-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------user-tree----------*/
.user-body {
    white-space: nowrap;
    overflow-y: hidden;
    padding: 50px;
    min-height: 500px;
    padding-top: 10px;
}

.user-tree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0px;
    display: flex;
}

.hidden-tree {
    display: none !important;
    opacity: 0;
}

.member-details h3 {
    font-size: 13px;
}

.user-tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

}

.user-tree li::before,
.user-tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 18px;
}

.user-tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #ccc;
}

.user-tree li:only-child::after,
.user-tree li:only-child::before {
    display: none;
}

.user-tree li:only-child {
    padding-top: 0;
}

.user-tree li:first-child::before,
.user-tree li:last-child::after {
    border: 0 none;
}

.user-tree li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.user-tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.user-tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
}

.user-tree li a {
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.user-tree li a:hover+ul li::after,
.user-tree li a:hover+ul li::before,
.user-tree li a:hover+ul::before,
.user-tree li a:hover+ul ul::before {
    border-color: #4285f4;
}

/*--------------memeber-card-design----------*/
.member-view-box {
    padding: 0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.member-image {
    width: 60px;
    position: relative;
}

.member-image img {
    min-height: 30px;
    border-radius: 50px;
    background-color: #ccc;
    z-index: 1;
    display: block;
    object-fit: cover;
    height: 60px;
    width: 60px;
}

/*bg-color*/
.bg-red {
    background: red !important;
}

.bg-blue {
    background: blue !important;
}

.bg-orange {
    background: orange !important;
}

.main-ul {
    text-align: center;
    display: inline-block !important;
}
